@font-face {
    font-family: muli;
    src: url(muli.regular.ttf)
}

body {
    margin: 0;
}

#page-header {
    width: 100%;
    height: 100px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
}

.logo-header {
    width: 133px;
    height: 100px;
    padding-left: 30px;
}

#header-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    height: 100%;
}

#header-items a {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-family: muli;
}

#top-image-index {
    width: 100%;
    height: 80vh;
    background-image: url('Optimized images/2015_-_04_crs5_dragon_orbit13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.updates-index {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    max-width: 90%;
    width: 1400px;
    margin: 0 auto;
}

.update-index-textbox {
    border: 1px solid #707070;
    text-align: center;
    color: #000000;
    font-family: muli;
    padding: 20px 50px;
    margin-right: 30px;
}

.update-index-img {
    border: 1px solid #707070;
    width: 672px;
}

.update-index-conatiner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

#page-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    width: 100%;
    height: 200px; 
}

.footer-item-text {
    color: #ffffff;
    font-size: small;
    font-family: muli;
}

.footer-item-img {
    height: 100%;
}

.signup-container {
    display: flex;
}

.footer-item-text-box {
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: muli;
    width: 263px;
    padding: 20px 20px;
    background: none;
}

::placeholder {
    color: #ffffff
}

.footer-item-send-button {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: muli;
    width: 100px;
    font-size: 14px;
}

